@import url(https://fonts.googleapis.com/css?family=Arvo);

/*#FFC3B2*/

body {
  margin: 0;
  padding-bottom: 50px;
  font-family: 'Arvo', serif;
}

header {
  width: 100%;
  background-color: red;
  position: fixed;
}

header .logo {
  float: left;
}

header .userlog {
  float: right;
}

div.container {
  padding-top: 100px;
}

td[colspan="2"] {
  text-align: center;
}
