@import url(https://fonts.googleapis.com/css?family=Arvo);

body {
  margin: 0;
  font-family: 'Arvo', serif;
  text-align: center;
}

header {
  margin: 0 auto;
  text-align: right;
  background-color: #FF6E57;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

a {
  padding-right: 10px;
}

a:last-child {
  padding-right: 0px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: inline-table;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

th {
  padding-right: 10px;
}

td {
  padding-right: 10px;
}

input {
  width: 200px;
  font-family: 'Arvo', serif;
}

textarea {
  width: 200px;
  font-family: 'Arvo', serif;
}

select {
  width: 200px;
  font-family: 'Arvo', serif;
}
