<div ng-repeat="event in events.editEvent">
  <h2>EDIT EVENT</h2>
  <form class="addEvent" ng-submit='events.updateEvent()'>
    <table>
      <tr>
        <td>
          <label for="eventTitle">Title</label>
        </td>
        <td>
          <input type="text" id="eventTitle" placeholder="{{event.title}}" ng-model='events.updatedEvent.title'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventDesc">Description</label>
        </td>
        <td>
          <textarea id="eventDesc" placeholder="{{event.description}}" ng-model='events.updatedEvent.description'></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventType">Type</label>
        </td>
        <td>
          <input type="text" id="eventType" placeholder="{{event.type}}" ng-model='events.updatedEvent.type'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventTitle">Category</label>
        </td>
        <td>
          <select type="text" id="eventCategory" ng-model='events.updatedEvent.category'>
            <option>Music</option>
            <option>Art</option>
            <option>Game</option>
            <option>Education</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventStart">Start Date</label>
        </td>
        <td>
          <input type="date" id="eventStart" ng-model='events.updatedEvent.startDate'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventStartTime">Start Time</label>
        </td>
        <td>
          <input type="time" id="eventStartTime" ng-model='events.updatedEvent.startTime'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventEnd">End Date</label>
        </td>
        <td>
          <input type="date" id="eventEnd" ng-model='events.updatedEvent.endDate'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventEndTime">End Time</label>
        </td>
        <td>
          <input type="time" id="eventEndTime" ng-model='events.updatedEvent.endTime'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventLocation">Location</label>
        </td>
        <td>
          <input type="text" id="eventLocation" placeholder="{{event.location}}" ng-model='events.updatedEvent.location'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventURL">URL</label>
        </td>
        <td>
          <input type="text" id="eventURL" placeholder="{{event.eventUrl}}" ng-model='events.updatedEvent.eventUrl'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventTags">Tags</label>
        </td>
        <td>
          <input type="text" id="eventTags" placeholder="{{event.tags}}" ng-model='events.updatedEvent.tags'></input>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <!-- disable button when title or tag fields are empty -->
          <input type="Submit" ng-disabled="events.updatedEvent.tags.length == null || events.updatedEvent.title.length == null || events.updatedEvent.startDate == null || events.updatedEvent.location == null" value="edit event"></input>
        </td>
      </tr>
    </table>
  </form>
</div>
