<section ng-controller='EventController as events'>
  <form class="addEvent" ng-submit='events.addEvent()'>
    <table>
      <tr>
        <td>
          <label for="eventTitle">Title</label>
        </td>
        <td>
          <input type="text" id="eventTitle" placeholder="Event Title" ng-model='events.newEvent.title'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventDesc">Description</label>
        </td>
        <td>
          <textarea id="eventDesc" placeholder="Description" ng-model='events.newEvent.description'></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventType">Type</label>
        </td>
        <td>
          <input type="text" id="eventType" placeholder="Type of Event" ng-model='events.newEvent.type'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventTitle">Category</label>
        </td>
        <td>
          <select type="text" id="eventCategory" ng-model='events.newEvent.category'>
            <option>Music</option>
            <option>Art</option>
            <option>Game</option>
            <option>Education</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventStart">Start Date</label>
        </td>
        <td>
          <input type="date" id="eventStart" placeholder="Start Date" ng-model='events.newEvent.startDate'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventStartTime">Start Time</label>
        </td>
        <td>
          <input type="time" id="eventStartTime" placeholder="Start Time" ng-model='events.newEvent.startTime'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventEnd">End Date</label>
        </td>
        <td>
          <input type="date" id="eventEnd" placeholder="End Date" ng-model='events.newEvent.endDate'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventEndTime">End Time</label>
        </td>
        <td>
          <input type="time" id="eventEndTime" placeholder="End Time" ng-model='events.newEvent.endTime'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventLocation">Location</label>
        </td>
        <td>
          <input type="text" id="eventLocation" placeholder="Location" ng-model='events.newEvent.location'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventURL">URL</label>
        </td>
        <td>
          <input type="text" id="eventURL" placeholder="URL for more info" ng-model='events.newEvent.eventUrl'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="eventTags">Tags</label>
        </td>
        <td>
          <input type="text" id="eventTags" placeholder="Tags (seperate by commas)" ng-model='events.newEvent.tags'></input>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <!-- disable button when title or tag fields are empty -->
          <button type="submit" ng-disabled="events.newEvent.tags.length == null || events.newEvent.title.length == null || events.newEvent.startDate == null || events.newEvent.location == null" value="add event">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</section>
