<ul class="eventSingle">
  <li ng-repeat="event in events.showEvent">
    <h2>{{event.title}}</h2>
    <table>
      <tr>
        <th>Description:</th>
        <td>{{event.description}}</td>
      </tr>
      <tr>
        <th>Type:</th>
        <td>{{event.type}}</td>
      </tr>
      <tr>
        <th>Category:</th>
        <td>{{event.category}}</td>
      </tr>
      <tr>
        <th>Dates:</th>
        <td>{{event.displayStart}} - {{event.displayEnd}}</td>
      </tr>
      <tr>
        <th>Time:</th>
        <td>{{event.startTime}} - {{event.endTime}}</td>
      </tr>
      <tr>
        <th>Location:</th>
        <td>{{event.location}}</td>
      </tr>
      <tr>
        <th>Url:</th>
        <td><a href="{{event.eventUrl}}">{{event.eventUrl}}</a></td>
      </tr>
      <tr>
        <td colspan="2">
          <ul class="tags">
            <li ng-repeat='tag in event.tags'>{{tag}}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2"><button ng-click="events.getOneEdit({eventid: event._id})">Edit</button><button class="delete" ng-click="events.deleteEvent(event)">Delete</button></td>
      </tr>
    </table>
  </li>
</ul>
