<section ng-controller='UserController as users'>
  <h2>SIGNUP</h2>
  <form class="loginUser" ng-submit='users.addUser()'>
    <table>
      <tr>
        <td>
          <label for="username">Username</label>
        </td>
        <td>
          <input type="text" id="username" placeholder="Username" ng-model='users.newUser.username'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password</label>
        </td>
        <td>
          <input type="password" id="password" placeholder="Password" ng-model='users.newUser.password'></input>
        </td>
      </tr>
      <tr>
        <td>
          <label for="bio">Bio</label>
        </td>
        <td>
          <textarea name="bio" id="bio" placeholder="Bio" ng-model='users.newUser.bio'></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Signup"></input>
        </td>
      </tr>
    </table>
  </form>
</section>
