<section ng-controller='EventController as events'>
  <form class="updateEvent" ng-submit='events.updateEvent()'>
    <div>
      <label for="eventTitle">Title</label>
      <input type="text" id="eventTitle" placeholder="Event Title" ng-model='events.updatedEvent.title'></input>
    </div>
    <div>
      <label for="eventDesc">Description</label>
      <textarea id="eventDesc" placeholder="Description" ng-model='events.updatedEvent.description'></textarea>
    </div>
    <div>
      <label for="eventType">Type</label>
      <input type="text" id="eventType" placeholder="Type of Event" ng-model='events.updatedEvent.type'></input>
    </div>
    <div>
      <label for="eventTitle">Category</label>
      <select type="text" id="eventCategory" ng-model='events.updatedEvent.category'>
        <option>Music</option>
        <option>Art</option>
        <option>Game</option>
        <option>Education</option>
      </select>
    </div>
    <div>
      <label for="eventStart">Start Date</label>
      <input type="date" id="eventStart" placeholder="Start Date" ng-model='events.updatedEvent.startDate'></input>
    </div>
    <div>
      <label for="eventStartTime">Start Time</label>
      <input type="time" id="eventStartTime" placeholder="Start Time" ng-model='events.updatedEvent.startTime'></input>
    </div>
    <div>
      <label for="eventEnd">End Date</label>
      <input type="date" id="eventEnd" placeholder="End Date" ng-model='events.updatedEvent.endDate'></input>
    </div>
    <div>
      <label for="eventEndTime">End Time</label>
      <input type="time" id="eventEndTime" placeholder="End Time" ng-model='events.updatedEvent.endTime'></input>
    </div>
    <div>
      <label for="eventLocation">Location</label>
      <input type="text" id="eventLocation" placeholder="Location" ng-model='events.updatedEvent.location'></input>
    </div>
    <div>
      <label for="eventURL">URL</label>
      <input type="text" id="eventURL" placeholder="URL for more info" ng-model='events.updatedEvent.eventUrl'></input>
    </div>
    <div>
      <label for="eventTags">Tags</label>
      <input type="text" id="eventTags" placeholder="Tags (seperate by commas)" ng-model='events.updatedEvent.tags'></input>
    </div>
    <div>
      <input type="submit" value="edit event">
    </div>
  </form>
</section>
